<header>
    <h1 style="text-align:center;background-color:cadetblue;color:white">{{pageTitle}}</h1>
    <ul>
        <li>
            <p><a href="/">HOME</a></p>
        </li>
        <li>
            <p><a href="/about">ABOUT</a></p>
        </li>
        <li>
            <p><a href="/projects">PROJECTS</a></p>
        </li>
    </ul>
</header>
