<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Some Website</title>
    </head>
    <body>
        {{> heder}}
        <p>{{toUpperCase welcomeMessage}}</p>

        {{> footer}}
    </body>
</html>